<CredentialMac type="FromSenderCredentials" algorithm="HMAC-SHA1-96"{{ dict(
  creationDate=credential_mac.creationDate,
  expirationDate=credential_mac.expirationDate,
) | xmlattr }}>{{ credential_mac.mac() }}</CredentialMac>
