{#
Credential Mac xml snippet requires:
- credential_mac (CredentialMac object) with these attributes:
  - .creationDate
  - .expirationDate
  - .mac()
  - type (optional)
  - algorithm (optional)
-#}
<CredentialMac{{ { 
  'type': credential_mac.type | default("FromSenderCredentials"),
  'algorithm': credential_mac.algorithm | default("HMAC-SHA1-96"),
  'creationDate': credential_mac.creationDate,
  'expirationDate': credential_mac.expirationDate,
} | xmlattr }}>{{ credential_mac.mac() }}</CredentialMac>
