<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE cXML SYSTEM "http://xml.cxml.org/schemas/cXML/1.2.014/cXML.dtd">
<cXML{{ cxml | xmlattr }}>
 <Header>{{ header }}</Header>
 <Request>{{ request }}</Request>
</cXML>
